# Dependencies
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database & SQLite files
*.db
*.db-journal

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & temp
*.log
scratch/